---
const socials = [
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/informatic_ii/',
    icon: 'i-uil-instagram',
  },
  {
    name: 'Youtube',
    url: 'https://www.youtube.com/@informatikaG2',
    icon: 'i-uil-youtube',
  },
  {
    name: 'GitHub',
    url: 'https://github.com/informatika24-unlip/inf24-unlip',
    icon: 'i-uil-github',
  },
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Socials section</h2>
  <ul class='flex justify-between'>
    {
      socials.map((item) => (
        <li class='bg-white px-4 py-2 text-green border-black border-2 rounded card-shadow'>
          <a href={item.url} target='_blank' title={`Go to ${item.name}`}>
            <div class:list={[item.icon, 'p-6']} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
